.contatcst-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
}

.contacts-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
}

.contacts-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.contacts-number {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #fff;
}